[submodule "upstream/algorithm"]
	path = upstream/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "upstream/any"]
	path = upstream/any
	url = https://github.com/boostorg/any.git
[submodule "upstream/array"]
	path = upstream/array
	url = https://github.com/boostorg/array.git
[submodule "upstream/asio"]
	path = upstream/asio
	url = https://github.com/boostorg/asio.git
[submodule "upstream/assert"]
	path = upstream/assert
	url = https://github.com/boostorg/assert.git
[submodule "upstream/atomic"]
	path = upstream/atomic
	url = https://github.com/boostorg/atomic.git
[submodule "upstream/beast"]
	path = upstream/beast
	url = https://github.com/boostorg/beast.git
[submodule "upstream/bind"]
	path = upstream/bind
	url = https://github.com/boostorg/bind.git
[submodule "upstream/circular_buffer"]
	path = upstream/circular_buffer
	url = https://github.com/boostorg/circular_buffer.git
[submodule "upstream/chrono"]
	path = upstream/chrono
	url = https://github.com/boostorg/chrono.git
[submodule "upstream/concept_check"]
	path = upstream/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "upstream/config"]
	path = upstream/config
	url = https://github.com/boostorg/config.git
[submodule "upstream/container"]
	path = upstream/container
	url = https://github.com/boostorg/container.git
[submodule "upstream/container_hash"]
	path = upstream/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "upstream/core"]
	path = upstream/core
	url = https://github.com/boostorg/core.git
[submodule "upstream/date_time"]
	path = upstream/date_time
	url = https://github.com/boostorg/date_time.git
[submodule "upstream/detail"]
	path = upstream/detail
	url = https://github.com/boostorg/detail.git
[submodule "upstream/exception"]
	path = upstream/exception
	url = https://github.com/boostorg/exception.git
[submodule "upstream/filesystem"]
	path = upstream/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "upstream/foreach"]
	path = upstream/foreach
	url = https://github.com/boostorg/foreach.git
[submodule "upstream/format"]
	path = upstream/format
	url = https://github.com/boostorg/format.git
[submodule "upstream/function"]
	path = upstream/function
	url = https://github.com/boostorg/function.git
[submodule "upstream/function_types"]
	path = upstream/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "upstream/fusion"]
	path = upstream/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "upstream/integer"]
	path = upstream/integer
	url = https://github.com/boostorg/integer.git
[submodule "upstream/intrusive"]
	path = upstream/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "upstream/io"]
	path = upstream/io
	url = https://github.com/boostorg/io.git
[submodule "upstream/iterator"]
	path = upstream/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "upstream/lexical_cast"]
	path = upstream/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "upstream/locale"]
	path = upstream/locale
	url = https://github.com/boostorg/locale.git
[submodule "upstream/log"]
	path = upstream/log
	url = https://github.com/boostorg/log.git
[submodule "upstream/math"]
	path = upstream/math
	url = https://github.com/boostorg/math.git
[submodule "upstream/move"]
	path = upstream/move
	url = https://github.com/boostorg/move.git
[submodule "upstream/mpl"]
	path = upstream/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "upstream/multi_index"]
	path = upstream/multi_index
	url = https://github.com/boostorg/multi_index.git
[submodule "upstream/numeric_conversion"]
	path = upstream/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion.git
[submodule "upstream/optional"]
	path = upstream/optional
	url = https://github.com/boostorg/optional.git
[submodule "upstream/parameter"]
	path = upstream/parameter
	url = https://github.com/boostorg/parameter.git
[submodule "upstream/phoenix"]
	path = upstream/phoenix
	url = https://github.com/boostorg/phoenix.git
[submodule "upstream/predef"]
	path = upstream/predef
	url = https://github.com/boostorg/predef.git
[submodule "upstream/preprocessor"]
	path = upstream/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "upstream/process"]
	path = upstream/process
	url = https://github.com/boostorg/process.git
[submodule "upstream/program_options"]
	path = upstream/program_options
	url = https://github.com/boostorg/program_options.git
[submodule "upstream/property_tree"]
	path = upstream/property_tree
	url = https://github.com/boostorg/property_tree.git
[submodule "upstream/proto"]
	path = upstream/proto
	url = https://github.com/boostorg/proto.git
[submodule "upstream/random"]
	path = upstream/random
	url = https://github.com/boostorg/random.git
[submodule "upstream/range"]
	path = upstream/range
	url = https://github.com/boostorg/range.git
[submodule "upstream/ratio"]
	path = upstream/ratio
	url = https://github.com/boostorg/ratio.git
[submodule "upstream/regex"]
	path = upstream/regex
	url = https://github.com/boostorg/regex.git
[submodule "upstream/serialization"]
	path = upstream/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "upstream/smart_ptr"]
	path = upstream/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "upstream/spirit"]
	path = upstream/spirit
	url = https://github.com/boostorg/spirit.git
[submodule "upstream/static_assert"]
	path = upstream/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "upstream/system"]
	path = upstream/system
	url = https://github.com/boostorg/system.git
[submodule "upstream/thread"]
	path = upstream/thread
	url = https://github.com/boostorg/thread.git
[submodule "upstream/throw_exception"]
	path = upstream/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "upstream/tokenizer"]
	path = upstream/tokenizer
	url = https://github.com/boostorg/tokenizer.git
[submodule "upstream/tuple"]
	path = upstream/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "upstream/type_index"]
	path = upstream/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "upstream/typeof"]
	path = upstream/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "upstream/type_traits"]
	path = upstream/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "upstream/utility"]
	path = upstream/utility
	url = https://github.com/boostorg/utility.git
[submodule "upstream/variant"]
	path = upstream/variant
	url = https://github.com/boostorg/variant.git
[submodule "upstream/winapi"]
	path = upstream/winapi
	url = https://github.com/boostorg/winapi.git
